@font-face {
  font-family: 'PP Editorial New';
  src: url('https://fonts.cdnfonts.com/css/pp-editorial-new') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Editorial New';
  src: url('https://fonts.cdnfonts.com/css/pp-editorial-new') format('woff2');
  font-weight: 700;
  font-style: normal;
}
